@model MvcMovie.Models.ProductNew

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductNew</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNewName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNewName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories_)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories_.CategoryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductNewID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
